/* COLOR VARIABLES */

:root {
  --color-black: #232323;
  --color-dark: #252525;
  --color-dark-light: #2c2c2c;
  --color-dark-lighter: #323232;
  --color-yellow: #edb41c;
  --color-green: #15913d;
  --color-purple: #723ae8;
  --color-grey: #d5d5d5;
  --color-light-grey: #ddd;
  --color-lighter-grey: #6c6b6b;
  --color-white: #ffffff;
}

/* DEFAULT STYLE RESET */
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  background-color: var(--color-black);
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-lighter-grey);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  margin-bottom: 1rem;
}
a,
a:active {
  text-decoration: none;
  color: inherit;
}

.flexWrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
}
