.statusBadge {
  display: block;
  border: 1px solid var(--color-black);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 0.4rem 0.5rem;
  border-radius: 2px;
  width: 4rem;
  text-align: center;
  color: var(--color-grey-lighter);
}

.yellowTheme {
  composes: statusBadge;
  color: var(--color-yellow);
}
.greenTheme {
  composes: statusBadge;
  color: var(--color-green);
}
.defaultTheme {
  composes: statusBadge;
}
