.avatarWrapper {
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.avatarImg {
  max-width: 100%;
  display: block;
  border-radius: 50%;
  height: auto;
}

.middleSized {
  composes: avatarWrapper;
  width: 8.5rem;
  height: 8.5rem;
}
.smallSized {
  composes: avatarWrapper;
  width: 3.5rem;
  height: 3.5rem;
}
